@font-face {
    font-family: 'OldLondon';
    src: url(Fonts/OldLondon.ttf), url(Fonts/Olondon_.otf);
}
@font-face {
    font-family: 'Cinzel-Medium';
    src: url(Fonts/Cinzel-Medium.ttf);
}
html, body {
    min-height: 100%;
    margin: 0;
}
body{
    margin: 0px 0px;
    font-family: 'Cinzel-Medium', serif;
}
header{
    margin-top: -2em;
    height: auto;
    justify-content: center;
    padding: 1%;
    color: #cc2228;
    text-align: center;
    font-size: 2em;
    margin: 0;
    background-color: #380608;
    box-sizing: border-box;
}
    
@media screen and (max-width: 560px){
    main{
        background-image: url("imgs/Fundomobile(2).jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    header h1{
        padding-left: 6%;
        padding-right: 6%;
    }
    body{
        font-size: 70%;
    }
    header #logo{
        height: 3em;
    }
    section{
        padding: 5%;
    }
    label{
        position: fixed;
        top: 2em;
        left: 2em;
        cursor: pointer;
        display: inline-block;
    }
    
    main section{
        margin-bottom: 8%;
    }
    main{
        padding: 10%;
    }
    main section{
        margin: 0;
        text-align: center;
        font-size: small;
    }
    .ilustração{
        width: 14em;
        border: 4px solid #380608;
        border-radius: 50%;
        margin: 5px;
    }
    #imgscriadores{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #StrTh{
        width: 80%;
        margin: 0.5em;
    }
    #caverdra{
        width: 80%;
        margin: 1em;
    }
    .criador{
        width: 8em;
    }
    .sobrepg{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    main section{
        margin: 3%;
    }
    .sobrepg h2, h3, h4{
        text-align: left;
        margin-bottom: 0em;
    }
    #checkbox-menu:checked + label #lks{
        font-size: 150%;
    }
    p:first-of-type::first-letter {
        float: left;
        font-family: 'OldLondon';
        font-size: 3em;
        line-height: 0.6em;
        margin: 0.1em;
        margin-bottom: 0.1em;
    }
    h3{
        margin-bottom: 0.1em;
    }
    .frases-legais{
        font-size: 120%;
        line-height: 1.3em;
    }
}
@media screen and (max-width: 1000px){
    #bibli{
        grid-template-rows: 1fr;
        padding: 2em;
    }
}
@media screen and (min-width: 1001px){
    #bibli{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em;
    }
}
@media screen and (min-width: 561px){
    main{
        background-image: url("imgs/biblioteca.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    header #logo{
        height: 5em;
    }
    #bibli section{
        margin: 2em;
    }
    label{
        position: fixed;
        top: 2em;
        left: 2em;
        cursor: pointer;
        display: inline-block;
    }
    section{
        padding: 2em;
    }
    
    main section{
        margin-bottom: 4em;
    }
    main{
        padding: 3em;
    }
    main section{
        margin: 4em 10% 0% 10%;
        text-align: center;
        font-size: larger;
    }

    .ilustração{
        float: right;
        width: 20%;
        border: 4px solid #380608;
        border-radius: 50%;
        margin: 5px;
    }
    #imgscriadores{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #StrTh{
        width: 25em;
    }
    
    .criador{
        width: 8em;
    }
    .sobrepg{
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
    p:first-of-type::first-letter {
        float: left;
        font-family: 'OldLondon';
        font-size: 3em;
        line-height: 0.6em;
        margin: 0.1em;
        margin-bottom: 0.1em;
    }
    .ficha ul li{
        margin-top: 0;
    }
    .ficha{
        width: 30%;
        padding-left: -1em;
        margin-left: 5%;
        margin-right: 2%;
    }
    .descrição{
        width: 70%;
        padding: 3%;
        margin-left: 2%;
        margin-right: 5%;
    }
}
#video{
    width: 70%;
}
.raca{
    width: 40%;
}
#classe img{
    width: 40%;
}
#bibli{
    display: grid;
}
#bibli section p{
    text-align: center;
}
#bibli section:nth-last-of-type{
    margin-bottom: 3em;
}
#bibli img{
    max-height: 15em;
    max-width: 100%;
}
#bibli p:first-of-type::first-letter {
    font-family: 'Cinzel-Medium', serif;
    float: none;
    font-size: 1em;
    margin: 0;
}
.sobrepg .descrição p:first-of-type::first-letter {
    font-family: 'Cinzel-Medium', serif;
    float: none;
    font-size: 1em;
    margin: 0;
}
.sobrepg .descrição h2{
    text-align: left;
}
#menu{
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lks{
    display: none;
}
#list-atributos{
    text-align: left;
}
label{
    height: 5%;
    width: 2em;
}
#checkbox-menu{
    position: absolute;
    opacity: 0;
}
label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 35px;
    background: #cc2228;
    transition: 0.25s ease-in-out;
    z-index: 2;
}
  
label span:nth-child(1){
    top: 0;
}
  
label span:nth-child(2){
    top: 8px;
}
  
label span:nth-child(3){
    top: 16px;
}
#checkbox-menu:checked + label #lks{
    background-color: #380608;
    width: 18em;
    display: block;
    border-radius: 9%;
    position: fixed;
    transition: 0.23s ease;
    top: 0.7em;
    left: 0.7em;
    z-index: 1;
}
#checkbox-menu:checked + label #lks ul{
    margin: 0;
    padding: 10%;
}
  
#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
  
#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
  
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}
section{
    background-image: url(imgs/fundodepapelvelho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #380608;
}

table{
    margin: auto;
    border-collapse: collapse;
    font-size: medium;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table td, th{
    text-align: center;
    padding: 1em;
}
thead, tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#tabATR tr th:first-child, td:first-child{
    border-right: 2px solid black;
}
#tabATR tr th:last-child, td:last-child{
    width: 50%;
}
.td{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.ficha{
    background-image: url(imgs/fundodepapelvelho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #380608;
}
.descrição{
    background-image: url(imgs/fundodepapelvelho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #380608;
}
.cabeçalho ul{
    text-align: left;
    margin: 1em;
    line-height: 0.3;
}
.fotinha{
    height: 15em;
    margin: 2em 2em 1em 2em;  
    border-radius: 50%;
    border: 3px solid #380608;
}
.cabeçalho h4{
    display: inline-block;
    margin-left: -1em;
}
.infocabç{
    font-size: x-large;
}
#atributos{
    clear: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#logo{
    margin: 1em 0em;
    height: 12em;
}
#atributos ul{
    border: 2px solid #380608;
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
}
h1, h2, h3, h4{
    font-size: 2em;
    font-family: 'OldLondon';
    text-align: center;
}
p{
    text-align: left;
}
#imagem-de-dado{
    margin-top: 3em;
    height: 10em;
}

footer{
    text-align: center;
    padding: 1em 1em;
    background-color: #380608;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
#classe ul{
    text-align: left;
    list-style-type: disc;
}
a:link{
    color: #cb2128;
    text-decoration: none;
}
a:hover{
    color: #cc2128;
    text-decoration: underline;
}
a:visited{
    color: #cb2128;
}
a:active{
    color: #831518;
}
.nota{
    color: #353434;
}
#inicio{
    position: fixed;
    background-image: url("imgs/layout.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
   
}
@media (max-width: 560px) {
    #inicio {
        display:none;
    }
}

@media (max-height: 450px) {
    #inicio {
        display:none;
    }
}
.initial{
    font-size: 100px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(  200, 200, 200), rgb(123, 123, 123), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-shadow: 5 px 5 px 5px black;
}
.explorar{
    position:absolute;
    margin-left: 40%;
    margin-right: 50%;
    font-size: 70px;
    color: black;
    background-image: linear-gradient(white,rgb(121, 117, 117));
    border-radius: 10%;
    box-shadow: 5px 5px 5px white;
    text-decoration: none;
    box-decoration-break: none;
}
.explorar:hover{
    box-shadow: 10px 10px 10px rgb(133, 30, 30);
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(white,rgb(167, 45, 45));
}
.move{
    transition: 3s;
    opacity: 1;
}
.mostra{
    transition: 3s;
    opacity: 0;
    visibility: hidden;
}

