html, body {
    min-height: 100%;
    margin: 0;
}
body{
    margin: 0px 0px;
}
main{
    background-image: url("imgs/biblioteca.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 3em;
}
main section{
    margin: 0% 10% 0% 10%;
    text-align: center;
    font-size: larger;
}
@font-face {
    font-family: 'OldLondon';
    src: url(Fonts/OldLondon.ttf), url(Fonts/Olondon_.otf);
}
header{
    text-align: center;
    margin: auto;
    background-color: #380608;
    box-sizing: border-box;
}
section{
    padding: 2em;
}
/*estilizando as seções*/
#introdução,
#O-que-é-RPG,
#O-que-é-DeD,
#Regras,
#Raças-e-Classes,
#encerramento,
#Ações,
#Ataques,
#VDM,
#Magia,
#XP,
#história,
#curiosidades{
    background-image: url(imgs/fundodepapelvelho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #380608;
    margin-bottom: 4em;
}
table{
    margin: auto;
    border-collapse: collapse;
}
table td, th{
    text-align: center;
    padding: 1em;
}
thead, tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.td{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.ficha{
    background-image: url(imgs/fundodepapelvelho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #380608;
}
.descrição{
    background-image: url(imgs/fundodepapelvelho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #380608;
}
.cabeçalho ul{
    text-align: left;
    margin: 1em;
    line-height: 0.3;
}
#atributos{
    clear: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}
#logo{
    margin: 1em 0em;
    height: 12em;
}
#bemvindo{
    color: #cc2228;
    font-size: 52px;
    margin: 2% 0% 2% 0%;
    text-shadow: 2px 1px 2px #8b2326;
    display: flex;  
    justify-content: center;
}
h1, h2, h3, h4{
    font-size: 2em;
    font-family: 'OldLondon';
    text-align: center;
}
p{
    text-align: left;
}
.animação{
    float: right;
    width: 14em;
    border: 4px solid #380608;
    border-radius: 50%;
    margin: 5px;
}
#imagem-de-dado{
    margin-top: 3em;
    height: 10em;
}

footer{
    display: flex;
    margin: 0% 0% 0% 0%;
    justify-content: space-evenly;
    text-align: left;
    padding: 1em 1em;
    background-color: #380608;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a:link{
    color: #cb2128;
    text-decoration: none;
}
a:hover{
    color: #cc2128;
    text-decoration: underline;
}
a:visited{
    color: #cb2128;
}
a:active{
    color: #831518;
}
.nota{
    color: #353434;
}
p:first-of-type::first-letter {
    float: left;
    font-family: 'OldLondon';
    font-size: 3em;
    line-height: 0.6em;
    margin: 0.1em;
    margin-bottom: 0;
}
/*imagens*/
#StrTh{
    width: 25em;
}
#imgscriadores{
    display: flex;
    justify-content: space-around;
}
.criador{
    width: 8em;
}